@import url(https://fonts.googleapis.com/css?family=Hachi+Maru+Pop:regular);

* {
    margin: 0;
    padding: 0;
}

button {
    cursor: pointer;
}

.Login {
    background-image: url(./BACK.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    width: 100%;

    .container {
        padding: 50px;
    }

    .block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 54px 90px 72px;
        gap: 90px;
        position: relative;
        width: 619px;
        background: #FFFFFF;
        box-shadow: 0px 24px 64px -16px rgba(25, 25, 28, 0.08);
        border-radius: 16px;

        .login__form {
            display: flex;
            flex-direction: column;
            gap: 16px;

            h1 {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 28px;
                line-height: 150%;
                text-align: center;
                font-feature-settings: 'ss02' on;
            }

            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                text-align: center;
                font-feature-settings: 'ss02' on;
                color: #828487;
            }

            a {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 140%;
                font-feature-settings: 'ss02' on;
                color: #FF5C00;
                text-decoration: none;
            }

            .form__inner {
                display: flex;
                flex-direction: column;
                gap: 20px;

                align-items: flex-start;
            }

            .form__input {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                div {
                    box-sizing: border-box;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 12px 16px;
                    gap: 10px;
                    width: 443px;
                    height: 48px;
                    background: #FFFFFF;
                    border: 1px solid #E4E4E4;
                    border-radius: 58px;

                    input {
                        border: none;
                        outline: none;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 150%;
                        font-feature-settings: 'ss02' on;
                        color: #C2C2C2;
                    }
                }

            }
        }

        a {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            text-align: center;
            font-feature-settings: 'ss02' on;
            color: #828487;
            text-decoration: none;
        }
    }
}

.orange__btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 10px;
    background-color: inherit;
    border: #FF5C00 1px solid;
    border-radius: 58px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    font-feature-settings: 'ss02' on;
    color: #FF5C00;

    &:hover {
        color: #FFFFFF;
        background: #FF5C00;
    }
}

.regist {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    gap: 10px;
    background-color: inherit;
    border-radius: 58px;
    border: none;
    border: #FF5C00 1px solid;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    font-feature-settings: 'ss02' on;
    color: #FF5C00;


    &:hover {
        color: #FFFFFF;
        background: #FF5C00;
    }
}

.registration__form {
    width: 100%;
    transition: 0.8s ease-in-out;

    .inner {
        .head {
            display: flex;
            justify-content: space-between;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            align-items: center;
            line-height: 42px;
            text-align: center;
            font-feature-settings: 'ss02' on;
            color: #19191C;

            svg {
                cursor: pointer;
                width: 35px;
                height: 35px;

                &:hover {
                    stroke: #FF5C00;

                }
            }
        }

        .inner {

            .passwordLock {
                margin: 10px 0;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 20px;
                text-align: center;
                font-feature-settings: 'ss02' on;
                color: #3a3a3b;
                display: flex;
                align-items: center;
                gap: 10px;

            }

            .passwordLock:hover {
                color: #FF5C00;

                svg {
                    stroke: #FF5C00;
                }
            }
        }



        .finish {
            margin-top: 20px;
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 12px;
            gap: 10px;
            background-color: inherit;
            border-radius: 58px;
            border: none;
            border: #FF5C00 1px solid;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 150%;
            font-feature-settings: 'ss02' on;
            color: #FF5C00;


            &:hover {
                color: #FFFFFF;
                background: #FF5C00;
            }
        }


        .form__input {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .Error {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                text-align: center;
                font-feature-settings: 'ss02' on;
                color: #fc0303;
                text-decoration: none;
            }

            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                text-align: center;
                font-feature-settings: 'ss02' on;
                color: #828487;
            }

            div {
                box-sizing: border-box;
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 12px 16px;
                gap: 10px;
                width: 443px;
                height: 48px;
                background: #FFFFFF;
                border: 1px solid #E4E4E4;
                border-radius: 58px;
                justify-content: space-between;


                input {
                    width: 100%;
                    border: none;
                    outline: none;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    font-feature-settings: 'ss02' on;
                    color: #C2C2C2;
                }
            }

        }
    }
}

.checkUser {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    background: rgba(25, 25, 28, 0.2);
    backdrop-filter: blur(2px);

    .filter {
        display: flex;
        position: relative;
        left: 170px;
        top: 260px;
        font-family: 'Poppins';
        gap: 20px;
        justify-content: center;
        font-size: 14px;
        align-items: center;
        color: green;
        padding: 10px;
        background-color: white;
        border-radius: 10px;
        width: 300px;
    }
}