@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
    box-sizing: border-box;
}

.Main {

    header {
        display: flex;
        justify-content: space-between;
        padding: 15px 20px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.216);



        .left__header {
            display: flex;
            gap: 18px;
            align-items: center;


            .back_arrow {
                cursor: pointer;
                transition: 0.3s ease-in-out;
            }

            .back_arrow:hover {

                path,
                rect {
                    stroke: #FF5C00;
                }

            }



            .column {
                width: 4px;
                background-color: rgb(196, 185, 172);
                border-radius: 1px;
                opacity: 0.5;
                height: 100%;
            }

            .title {
                width: 100%;
            }
        }

        .right__header {
            display: flex;
            gap: 5px;

            nav {
                display: flex;
                align-items: center;

                a {
                    cursor: pointer;
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 150%;
                    font-feature-settings: 'ss02' on;
                    color: #828487;
                    padding: 7px 10px;
                    border-radius: 20px;
                    transition: 0.3s;
                }

                .active {
                    background: linear-gradient(218.57deg, #FFAB18 -6.67%, #FF2197 137.69%);
                    color: white;

                    svg {

                        path,
                        circle {
                            stroke: white;
                        }
                    }
                }

                a:hover {
                    background: linear-gradient(218.57deg, #FFAB18 -6.67%, #FF2197 137.69%);
                    color: white;
                    transition: 0.3s;

                    svg {

                        path,
                        circle {
                            transition: 0.3s ease-in-out;
                            stroke: white;
                        }
                    }
                }
            }

            .userOptions {
                display: flex;
                align-items: center;
                gap: 16px;

                button {
                    width: 144px;
                    background: #FFF5EE;
                    border-radius: 58px;
                    height: 36px;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 140%;
                    font-feature-settings: 'ss02' on;
                    color: #FF5C00;
                    border: none;
                    transition: 0.3s ease-in-out;
                }

                button:hover {
                    color: white;
                    background: linear-gradient(218.57deg, #FFAB18 -6.67%, #FF2197 137.69%);
                    transition: 0.3s ease-in-out;
                }

                .date {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    width: 182px;
                    height: 36px;
                    background: #F8F9FD;
                    border-radius: 40px;
                }

                .userImg {
                    cursor: pointer;
                    box-sizing: border-box;
                    width: 44px;
                    border-radius: 50%;
                    height: 44px;
                    border: 1px solid #000000;
                    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
                }

            }


        }
    }

    .body {
        display: flex;
        justify-content: space-between;

        .left__main {
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 24px;
            gap: 15px;
            width: 125px;
            bottom: 0;
            left: 0px;
            background: #FFFFFF;
            border-right: 1px solid #E4E4E4;
            align-items: center;
            // display: none;

            .block {
                cursor: pointer;
                transition: 0.3s;
                display: flex;
                flex-direction: column;
                gap: 14px;
                justify-content: center;
                align-items: center;
                width: 90px;
                height: 90px;
                border-radius: 21px;
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 116%;
                display: flex;
                align-items: center;
                text-align: center;
                color: #828487;
            }

            .block.active {
                background: linear-gradient(218.57deg, #FFAB18 -6.67%, #FF2197 137.69%);
                color: white;

                svg {
                    path {
                        fill: white;
                    }
                }
            }

            .block:hover {
                background: linear-gradient(218.57deg, #FFAB18 -6.67%, #FF2197 137.69%);
                color: white;
                transition: 0.3s ease-in-out;

                svg {
                    path {
                        fill: white;
                        transition: 0.3s ease-in-out;
                    }
                }
            }
        }

        .main {
            background: #F8F9FD;
            width: 100%;

            &__header {
                padding: 20px 0 20px 20px;
                border-bottom: solid 1px rgb(208, 207, 207);

                .search__menu {
                    display: flex;
                    align-items: center;
                    width: 300px;
                    padding: 5px 10px;
                    border: 1px solid rgb(205, 203, 203);
                    border-radius: 30px;

                    input {
                        width: 100%;
                        font-size: 20px;
                        border-radius: 30px;
                        border: none;
                        outline: none;
                        padding: 4px;
                    }
                }
            }

            .food__items {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(219px, 1fr));
                justify-items: center;
                grid-row-gap: 13px;
                padding: 24px;

                .food {
                    cursor: pointer;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 12px 8px 16px;
                    gap: 12px;
                    width: 219px;
                    background: #ffffff;
                    border-radius: 16px;

                    .food__img {
                        width: 203px;
                        height: 158px;
                    }

                    .food__name {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 150%;
                        text-align: center;
                        font-feature-settings: 'ss02' on;
                        color: #19191C;
                    }

                    .food__price {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 150%;
                        text-align: center;
                        font-feature-settings: 'ss02' on;
                        color: #FF5C00;
                    }
                }
            }
        }

        .right__main {
            width: 580px;
            height: 947px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            box-sizing: border-box;
            right: 0;
            background: #FFFFFF;
            border-left: 1px solid #E4E4E4;

            .head {
                display: flex;
                flex-direction: column;
                gap: 10px;
                justify-content: center;
                align-items: center;
                padding: 10px 20px;

                label {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    padding: 3px;
                    width: 312px;
                    height: 44px;
                    background: #F8F9FD;
                    border-radius: 80px;
                    justify-content: space-evenly;
                    align-items: center;
                    transition: 0.4s ease-in-out;

                    p {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 140%;
                        text-align: center;
                        font-feature-settings: 'ss02' on;
                        color: #828487;
                        align-items: center;
                        display: flex;
                        justify-content: center;
                        width: 152px;
                        height: 36px;
                        border-radius: 40px;
                        transition: 0.3s ease-in-out;
                    }

                    .switch__btn {
                        display: none;

                    }

                    span {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 140%;
                        text-align: center;
                        font-feature-settings: 'ss02' on;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        width: 152px;
                        height: 36px;
                        background: #FFFFFF;
                        box-shadow: 0px 3px 6px rgba(20, 20, 20, 0.04);
                        border-radius: 40px;
                        transition: 0.3s ease-in-out;
                        cursor: pointer;
                    }

                    p:hover {
                        color: black;

                    }

                    span:hover {
                        background: linear-gradient(218.57deg, #FFAB18 -6.67%, #FF2197 137.69%);
                        color: white;
                        transition: 0.2s;
                    }
                }

                .customer__form {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    .custom__name {
                        box-sizing: border-box;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        padding: 12px 16px;
                        gap: 10px;
                        width: 312px;
                        height: 48px;
                        background: #FFFFFF;
                        border: 1px solid #E4E4E4;
                        border-radius: 58px;
                        outline: none;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 150%;
                        font-feature-settings: 'ss02' on;
                        color: #3b3a3a;

                    }




                    .add__note {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        padding: 12px 24px;
                        gap: 10px;
                        width: 312px;
                        height: 48px;
                        background: #FFF5EE;
                        border-radius: 58px;
                        border: none;
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 150%;
                        font-feature-settings: 'ss02' on;
                        color: #FF5C00;
                        transition: 0.3s;
                    }

                    .add__note:hover {
                        background: linear-gradient(218.57deg, #FFAB18 -6.67%, #FF2197 137.69%);
                        color: white;
                        transition: 0.3s ease-in-out;
                    }

                    div {
                        button {
                            box-sizing: border-box;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            padding: 12px 16px;
                            gap: 10px;
                            width: 312px;
                            height: 48px;
                            background: #FFFFFF;
                            border: 1px solid #E4E4E4;
                            border-radius: 58px;
                            justify-content: space-between;
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 150%;
                            font-feature-settings: 'ss02' on;
                            color: #1f1d1daa;
                            transition: 0.3s;
                        }

                        button:hover {
                            color: black;
                        }
                    }
                }

            }

            .body {
                box-sizing: border-box;
                padding: 0 20px;
                display: flex;
                flex-direction: column;

                h2 {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 30px;
                    font-feature-settings: 'ss02' on;
                    color: #19191C;

                }

                .changedFood {
                    height: 320px;
                    overflow: auto;
                    padding-right: 5px;

                }

                .items {
                    display: flex;
                    flex-direction: row;
                    // align-items: center;
                    padding: 16px 0px;
                    gap: 12px;
                    width: 312px;
                    background: #FFFFFF;
                    border-bottom: 1px solid #E4E4E4;

                    img {
                        border-radius: 12px;
                    }

                    h4 {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 150%;
                        font-feature-settings: 'ss02' on;
                        color: #19191C;

                    }

                    .desc {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-content: space-between;
                        justify-content: space-between;
                    }

                    .jc {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                    }

                    .left {
                        p {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 12px;
                            line-height: 130%;
                            color: #9C9C9C;
                        }

                        h5 {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 150%;
                            font-feature-settings: 'ss02' on;
                            color: #FF5C00;
                        }
                    }

                    .right {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 12px;

                        button {
                            border: none;
                            background-color: inherit;
                        }

                        p {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 140%;
                            font-feature-settings: 'ss02' on;
                            color: #19191C;
                        }
                    }


                }
            }

            .foot {
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 0px 0px 24px;
                gap: 24px;

                .cont {
                    gap: 16px;
                    display: flex;
                    flex-direction: column;

                    p {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 150%;
                        font-feature-settings: 'ss02' on;
                        color: #828487;
                        display: flex;
                        justify-content: space-between;

                        span {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 150%;
                            font-feature-settings: 'ss02' on;
                            color: #19191C;
                        }
                    }

                    .orange {
                        span {
                            font-family: 'Poppins';
                            font-style: normal;
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 150%;
                            font-feature-settings: 'ss02' on;
                            color: #FF5C00;
                        }
                    }

                    div {
                        width: 312px;
                        border: 1px dashed #E4E4E4;
                    }
                }

                button {
                    border: none;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 150%;
                    font-feature-settings: 'ss02' on;
                    color: #FFFFFF;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    padding: 12px;
                    gap: 10px;
                    width: 312px;
                    height: 48px;
                    background: #FF5C00;
                    border-radius: 58px;
                }
            }
        }

    }


}


.Payment {
    position: absolute;
    background: #f8f9fd42;
    top: 0;
    height: 1035px;
    bottom: 0;
    right: 0;
    left: 0;

    .pay__inner {
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: white;
        top: 0;
        width: 536px;

        header {
            flex-direction: column;
            gap: 5px;

            p {
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                font-feature-settings: 'ss02' on;
                color: #828487;

            }

            .title {
                display: flex;
                justify-content: space-between;
                width: 100%;
                align-items: center;

                h3 {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 30px;
                    font-feature-settings: 'ss02' on;
                    color: #19191C;
                }

                svg {
                    cursor: pointer;
                }

                svg:hover {
                    path {
                        stroke: orange;
                    }
                }
            }
        }

        body {
            padding: 24px;
            display: flex;
            flex-direction: column;
            gap: 24px;

            .bill {
                display: flex;
                flex-direction: column;
                gap: 8px;
                width: 100%;
                background: #F8F9FD;
                border-radius: 12px;
                padding: 16px;

                p {
                    display: flex;
                    justify-content: space-between;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    font-feature-settings: 'ss02' on;
                    color: #19191C;

                    span {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 16px;
                        line-height: 24px;
                        font-feature-settings: 'ss02' on;
                        color: #19191C;
                    }
                }

                .orange {
                    span {
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 600;
                        font-size: 20px;
                        line-height: 30px;
                        font-feature-settings: 'ss02' on;
                        color: #FF5C00;
                    }
                }
            }

            .paymentMethods {
                display: flex;
                flex-direction: column;
                gap: 14px;

                h4 {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    font-feature-settings: 'ss02' on;
                    color: #19191C;
                }

                div {
                    display: flex;
                    justify-content: space-between;

                    button {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        padding: 24px 27px;
                        gap: 10px;
                        width: 110px;
                        height: 96px;
                        background: #FFFFFF;
                        border: 1px solid #E4E4E4;
                        border-radius: 16px;
                    }
                }
            }

            .inputamount {
                display: flex;
                flex-direction: column;
                gap: 16px;

                h4 {
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 24px;
                    font-feature-settings: 'ss02' on;
                    color: #19191C;
                }

                input {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding: 12px 16px;
                    gap: 10px;
                    width: 488px;
                    height: 78px;
                    background: #FFFFFF;
                    border: 1px solid #E4E4E4;
                    border-radius: 58px;
                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 30px;
                    text-align: center;
                    font-feature-settings: 'ss02' on;
                    color: #C2C2C2;
                }
            }


        }
    }

}